<!DOCTYPE html>
<html>
<head>
  <title>Order List</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div id="app" class="p-4">
    <h1 
        @click="editListName"    
        v-if="!editingListName" 
        class="text-2xl mt-4 mb-2 font-bold">
        Order List - {{ listName }}
    </h1>
   
    <input v-if="editingListName" 
        v-model="listName" 
        @keydown.enter="saveListName" 
        @blur="saveListName"
        class="border border-gray-400 rounded px-2 py-1"/>
    <br/>

    <input v-model="newTodo"
        @keydown.enter="addTodo" 
        placeholder="Add a new todo"
        class="border border-gray-400 rounded px-2 py-1 mt-4"/>
   <br/>
 

    <h2 class="text-lg mt-4 mb-2">Todos</h2>
    <draggable 
        v-model="todos" 
        group="todos" 
        @change="saveToLocalStorage">
        <ul>
        <li v-for="(todo, index) in todos" :key="todo.id">
            <input type="checkbox" v-model="todo.checked" @change="saveToLocalStorage" />
            <i @click="deleteTodo(index)" class="fas fa-trash-alt"></i>
            <span :class="{ checked: todo.checked }">{{ todo.text }}</span>
            
        </li>
        </ul>
    </draggable>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.24.3/vuedraggable.umd.min.js"></script>

  <script>
    // Check if there's any data in local storage
    const savedListName = localStorage.getItem('listName');
    const savedTodos = JSON.parse(localStorage.getItem('todos'));

    new Vue({
      el: '#app',
      data: {
        listName: savedListName || 'List1',
        tempListName: savedListName || 'List1',
        todos: savedTodos || [],
        newTodo: '',
        editingListName: false,
      },
      methods: {
        addTodo() {
          if (this.newTodo.trim() !== '') {
            this.todos.push({
              id: Date.now(),
              text: this.newTodo,
              checked: false,
            });
            this.newTodo = '';
            this.saveToLocalStorage();
          }
        },
        deleteTodo(index) {
          this.todos.splice(index, 1);
          this.saveToLocalStorage();
        },
        saveToLocalStorage() {
          localStorage.setItem('listName', this.listName);
          localStorage.setItem('todos', JSON.stringify(this.todos));
        },
        editListName() {
          this.editingListName = true;
          this.$nextTick(() => {
            this.$refs.listNameInput.focus();
          });
        },
        saveListName() {
          this.editingListName = false;
          this.saveToLocalStorage();
        },
      },
    });
  </script>

  <style>
    .checked {
      text-decoration: line-through;
    }
  </style>
</body>
</html>